body {
    /* background-image: url("images/gif_background.gif");  */
    background-color: blue;
    background-repeat: no-repeat;
    background-size: 1600px, 787px;
    /* color: #f2f2f2; */
    /* margin: 1rem; */

    /* background-image: url('/Users/jennalee/Development/GrooveMap/GrooveMap/images/gif_background.gif'); */
    background-size: cover;
    /* height: 100vh; */
    margin: 2rem;
    color: white;
    font-family: "Montserrat display";
}

.topnav {
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
 .topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.button {
    background-color: #7503b3;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 30px 0px 0px;
}
  
 
.button5 {
    border-radius: 20px;
    width: 200px;
}

.signup {
    background-color: white;
    color: #7503b3;
    border-style: solid;
    border-width: 2px;
    border-color: #7503b3;
}

.login {
    background-color: #7503b3;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

h1 {
    font-family: "Dela Gothic One";
    font-size: 60px;
}

h2 {
    font-family: "Dela Gothic One";
    font-size: 25px; 
}

.big-text {
    margin: 15rem 0rem 1rem;

}

select {
    background-color: #7503b3;
    width: 200px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14rem 0px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}