body {
    background-image: url('/Users/jennalee/Development/GrooveMap/GrooveMap/images/gif_background.gif');
    background-size: cover;
    height: 100vh;
    margin: 2rem;
    color: white;
    font-family: "Montserrat display";
}


.button {
    background-color: #7503b3;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 30px 0px 0px;
}
  
 
.button5 {
    border-radius: 20px;
    width: 200px;
}

.signup {
    background-color: white;
    color: #7503b3;
    border-style: solid;
    border-width: 2px;
    border-color: #7503b3;
}

.login {
    background-color: #7503b3;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.section {
    background-color: #7503b3;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 30px 0px 0px;
}

.dropdown-section {
    border-radius: 20px;
    width: 1275px;
    height: 150px;
    background-color: #7503b3;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

h1 {
    font-family: "Dela Gothic One";
    font-size: 60px;
}

h2 {
    font-family: "Dela Gothic One";
    font-size: 25px; 
}

h3 {
    font-family: "Dela Gothic One";
    font-size: 40px; 
}

.big-text {
    margin: 15rem 0rem 1rem;

}

select {
    background-color: #7503b3;
    width: 200px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14rem 0px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.follow-section {
    border-radius: 20px;
    width: 1400px;
    height: 75px;
    background-color: #7503b3;
    color: #7503b3;
    border-style: solid;
    border-width: 2px;
    border-color: #7503b3;

}



.top-things {
    background-color: black;
    padding: 5rem;
    margin: 0px
}

.artist {
    background-color: #7503b3;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 30px 0px 0px;
}
  
 
.dropdown-artist {
    border-radius: 20px;
    width: 1275px;
    height: 100px;
    background-color: white;
    color: #7503b3;
    border-style: solid;
    border-width: 2px;
    border-color: #7503b3;

}

.follow-btn {
    position: relative;
    top: 65px;
    left: 1125px;
    color: #7503b3;

    
}

.follow-btn:hover {

    color: #4c0672;
    cursor: pointer;

    
}

.artistsList {
    list-style-type: none;
    display: none;


}

.artistsList li {
    /* font-family: "Dela Gothic One"; */

    /* background-color: #7503b3; */
    /* border: none;
    color: white; */
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 30px;
    margin: 0px 30px 0px 0px;
    border-radius: 20px;
    width: 1200px;
    height: 60px;
    background-color: white;
    color: #7503b3;
    border-style: solid;
    border-width: 2px;
    border-color: #7503b3;
    /* font-family: "Montserrat display"; */

}

.newReleasesList {
    list-style-type: none;
    display: none;

}

.newReleasesList li {
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 30px;
    margin: 0px 30px 0px 0px;
    border-radius: 20px;
    width: 1200px;
    height: 60px;
    background-color: white;
    color: #7503b3;
    border-style: solid;
    border-width: 2px;
    border-color: #7503b3;
    font-family: "Montserrat display";

}

.spacer {
    height: 80px;
}

.dropdown-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 1275px;
    height: 150px;
}